/*
    Esto un comentario

    selector{
        propiedad:valor;
        propiedad:valor;
        propiedad:valor;
        ...
    }  
*/

p{
    color:grey;
}
body{
    background:rgb(240,240,240);
}
header,main,footer{
    background:white;
    padding:20px;
}
h3{
    margin:10px;
}
nav ul{
    list-style-type:none;
    margin:0px;
    padding:0px;
}
nav ul li a{
    color:inherit;
    text-decoration:none;
    text-transform:uppercase;
    font-weight:bold;
}
nav ul li{
    display:inline-block;
    border-right:1px solid black;
    padding:5px;
}
body{
    font-family:sans-serif;
}
nav{
    font-size:11px;
}
p{
    text-align:justify;
}
#pancarta{
    width:100%;
    height:300px;
    background:rgb(220,220,220);
    border-radius:10px;
    box-sizing: border-box;
    padding:30px;
}
.imagen{
    width:100%;
    height:100px;
    background:rgb(220,220,220);
    border-radius:10px;
    box-sizing: border-box;
    padding:30px;
    margin-bottom:20px;
}
article{
    margin-top:50px;
}
#pancarta{
    background:url("imagenes/dibujantes (44).png");
    background-size:cover;
    background-position:center center;
}



