/*
    Esto un comentario

    selector{
        propiedad:valor;
        propiedad:valor;
        propiedad:valor;
        ...
    }  
*/

p{
    color:grey;
}
body{
    background:rgb(240,240,240);
}
header,main,footer{
    background:white;
    padding:20px;
}
h3{
    margin:10px;
}
nav ul{
    list-style-type:none;
    margin:0px;
    padding:0px;
}
nav ul li a{
    color:inherit;
    text-decoration:none;
    text-transform:uppercase;
    font-weight:bold;
}
nav ul li{
    display:inline-block;
    border-right:1px solid rgba(220,220,220);
    padding:5px;
}
body{
    font-family:sans-serif;
}
nav{
    font-size:11px;
}
p{
    text-align:justify;
}
#pancarta{
    width:100%;
    height:300px;
    background:rgb(220,220,220);
    border-radius:10px;
    box-sizing: border-box;
    padding:30px;
}
.imagen{
    width:100%;
    height:300px;
    background:rgb(220,220,220);
    border-radius:10px;
    box-sizing: border-box;
    padding:30px;
    margin-bottom:20px;
}
article{
    margin-top:50px;
}
#pancarta{
    background:url("imagenes/dibujantes (44).png");
    background-size:cover;
    background-position:center center;
}
.imagen{
    background:url("imagenes/dibujantes (44).png");
    background-size:cover;
    background-position:center center;
}
time{
    font-size:10px;
}
h2{
    font-size:10px;
    border-bottom:1px solid rgb(220,220,220);
    padding-bottom:10px;
}
h1{
    margin-bottom:0px;
}
nav{
    margin-top:10px;
}
#pancarta h3{
    margin-top:100px;
    color:white;
    text-shadow:0px 3px 6px black;
    font-size:40px;
    margin-left:0px;
}
#pancarta h4{
    color:white;
    text-shadow:0px 3px 6px black;
    font-size:20px;
    margin-left:0px;
}
header,footer,main{
    max-width:1000px;
    margin:auto;
}

@media only screen and (min-width: 600px) {
    article{
        box-sizing:border-box;
        display:inline-block;
        width:50%;
        padding:20px;
        vertical-align:top;
    }
}
@media only screen and (min-width: 900px) {
    article{
        box-sizing:border-box;
        display:inline-block;
        width:33%;
        padding:20px;
        vertical-align:top;
    }
    video{
        display:block;
    }
    #pancarta{
        display:none;
    }
    #articulos{
        padding-top:600px;
    }
    header{
        position:relative;
        z-index:1000;
        background:none;
    }
    
}
@media only screen and (max-width: 900px) {
    
    video{
        display:none;
    }
    #pancarta{
        display:block;
    }
    
}


video{
    width:100%;
    border-radius:10px;
}
body{
    background:url("img/fondo3.png");
}
video{
    position:absolute;
    width:100%;
    left:0px;
    top:0px;
    border-radius:0px;
    
}
main{
    
}

iframe{
    width:100%;
    height:400px;
}


form label{
    display:block;
   width:100%;
    padding:20px;
}
form input{
    width:100%;
    padding-top:10px;
    padding-bottom:10px;
}
form textarea{
    width:100%;
    height:300px;
    padding-top:10px;
    padding-bottom:10px;
}
form input[type="checkbox"]{
    width:10%;
    padding-top:10px;
    padding-bottom:10px;
}
form input[type="radio"]{
    width:10%;
    padding-top:10px;
    padding-bottom:10px;
}
form select{
    width:100%;
    padding-top:10px;
    padding-bottom:10px;
}

@media only screen and (max-width: 500px) {
    .f50{
        width:100%;
        float:left;
        box-sizing: border-box;
        padding:20px;
    }
    .f100{
        width:100%;
        float:left;
        box-sizing: border-box;
        padding:20px;
    }
}
@media only screen and (min-width: 500px) {
.f50{
        width:50%;
        float:left;
        box-sizing: border-box;
        padding:20px;
    }
    .f100{
        width:100%;
        float:left;
        box-sizing: border-box;
        padding:20px;
    }
}

table{
    width:100%;
    margin-bottom:20px;
}
table thead tr th{
    text-align:left;
    background:grey;
    color:white;
}
table tbody tr:nth-child(odd){
    background:rgb(220,220,220);
}

table tbody tr td:nth-child(2){
    background:rgb(220,255,200);
}
.col4{
    background:rgb(220,220,255);
}

#destacados{
    width:100%;
    height:auto;
    border-bottom:1px solid grey;
    margin-bottom:30px;
    padding-bottom:30px;
    margin-top:30px;
    padding-top:30px;
}
@media only screen and (min-width: 600px) {
    #destacados .destacado{
        display:inline-block;
        width:32%;
        text-align:center;
    }
}
@media only screen and (max-width: 600px) {
    #destacados .destacado{
        display:inline-block;
        width:100%;
        text-align:center;
        padding-bottom:50px;
    }
}

#destacados .destacado p{
    text-align:center;
}
#destacados .destacado img{
    width:100px;
    height:100px;
    background:rgb(200,200,200);
    border-radius:100px;
}
.caracteristica{
    padding-top:30px;
    margin-top:30px;
    padding-bottom:30px;
    margin-bottom:30px;
    border-bottom:1px solid grey;
}
@media only screen and (min-width: 700px) {
    .caracteristica img{
        width:300px;
        height:300px;
        background:grey;
    }
    .caracteristica:nth-child(odd) img{
        float:left;
    }
    .caracteristica:nth-child(even) img{
        float:right;
    }
    .caracteristica:nth-child(odd) .contenedortexto{
        float:right;
        width:50%;
    }
    .caracteristica:nth-child(even) .contenedortexto{
        float:left;
        width:50%;
    }
}
@media only screen and (max-width: 700px) {
    .caracteristica img{
        width:100%;
        height:300px;
        background:grey;
    }
    .caracteristica:nth-child(odd) img{
        float:left;
    }
    .caracteristica:nth-child(even) img{
        float:right;
    }
    .caracteristica:nth-child(odd) .contenedortexto{
        float:right;
        width:100%;
    }
    .caracteristica:nth-child(even) .contenedortexto{
        float:left;
        width:100%;
    }
}
.gris{
    color:grey;
}
.caracteristica h3{
    padding:0px;
    padding-top:20px;
    padding-bottom:20px;
}
.clearfix{
    clear:both;
}
#lienzo{
    display:inline-block;
    width:32px;
}
input{
    outline:none;
    border:1px solid grey;
    transition:all 1s;
}
input:hover{
    background:rgb(255,255,200);
    border:1px solid grey;
    
}
input:focus{
    background:rgb(200,255,200);
    
    
}


@media only screen and (min-width: 300px) {
    nav ul li:first-child{
        display:none;
    }
}
@media only screen and (max-width: 300px) {
    nav ul li{
        display:none;
    }
    nav ul li:first-child{
        display:block;
        
    }
}
nav ul li img{
    width:20px;
}






